body {
    margin: 0px;
}

.layout {
    border: 1px solid red;
    min-height: 99vh;
    display: flex;
}

.sidenav {
    border: 1px solid blue;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 10px 30px 10px;
}

.home-comp {
    color: lime;
}

.search-bar {
    height: 40px;
    border: 1px solid;
    width: 90%;
}

.test {
    color: red;
}